<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eng_mahnoud83coffey.listen_readandsave">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/learnesily"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait"
                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Numbers"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_Greetings"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_Writing"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_Parts_the_body"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_Internet"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_PubularWards"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_Natural_suports"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_Country"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_Drinks"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_Education"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_Animals"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity_Clothes"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Read_lesition"
            android:screenOrientation="portrait"
            ></activity>


        <activity android:name="com.startapp.android.publish.ads.list3d.List3DActivity"
            android:theme="@android:style/Theme" />

        <activity android:name="com.startapp.android.publish.adsCommon.activities.OverlayActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name="com.startapp.android.publish.adsCommon.activities.FullScreenActivity"
            android:theme="@android:style/Theme"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <service android:name="com.startapp.android.publish.common.metaData.PeriodicMetaDataService" />
        <service android:name="com.startapp.android.publish.common.metaData.InfoEventService" />
        <service android:name="com.startapp.android.publish.common.metaData.PeriodicJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver android:name="com.startapp.android.publish.common.metaData.BootCompleteListener" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>